site_name: Confit

repo_url: https://github.com/aphp/confit

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-4
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-7
        name: Switch to light mode
  logo: assets/logo/logo.png
  favicon: assets/logo/logo.png
  features:
    - navigation.tracking
    - navigation.indexes
    - content.code.annotate

nav:
  - getting-started.md
  - index.md
  - alternatives.md
  - Code Reference: reference/
  - contributing.md
  - changelog.md
  - roadmap.md

extra_css:
  - assets/stylesheets/extra.css

watch:
  - contributing.md
  - roadmap.md
  - changelog.md
  - confit

extra:
  version:
    provider: mike

hooks:
    - docs/scripts/plugin.py

plugins:
  - auto_gen_pages:
      package_dirs: ["confit"]
      reference_section: Reference
      copy_files:
        changelog.md: changelog.md
        contributing.md: contributing.md
  - fix_fonts:
  - cards:
  - search:
  - minify:
      minify_html: true
      minify_js: true
      minify_css: true
      htmlmin_opts:
          remove_comments: true
      cache_safe: true
  - autorefs:
      priority:
        - '*'
        - reference
  - pret_snippet_renderer:
  - mkdocstrings_options_templates:
  - mkdocstrings:
      enable_inventory: true
      handlers:
        python:
          options:
            docstring_style: numpy
            docstring_section_style: spacy
            heading_level: 2
            members_order: source
            show_root_toc_entry: false
            show_signature: false
            merge_init_into_class: true
          inventories:
            - https://aphp.github.io/confit/latest/objects.inv
            - https://percevalw.github.io/metanno/latest/objects.inv
            - https://percevalw.github.io/pret/latest/objects.inv
  - bibtex:
      bibtex_file: "docs/references.bib"
  - clickable_code:
  - mike

markdown_extensions:
  - admonition
  - pymdownx.superfences
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - footnotes
  - md_in_html
  - attr_list
  - pymdownx.details
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
