name: Documentation

on:
  push:
    branches: [main]

env:
  UV_TORCH_BACKEND: "auto"  # only used with uv pip install

jobs:
  Documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
          python-version: "3.12"
    - uses: hynek/setup-cached-uv@v2
      with:
        cache-suffix: -docs-${{ matrix.python-version }}-${{ env.WEEK }}
    - name: Install dependencies
      run: |
        uv venv
        source .venv/bin/activate
        uv pip install -e . --group docs --group dev
    - name: Set up Git
      run: |
        git config user.name ${{ github.actor }}
        git config user.email ${{ github.actor }}@users.noreply.github.com
    - name: Build documentation
      run: |
        git fetch origin gh-pages
        uv run mike delete main
        uv run mike deploy --push main
