name: Tests and Linting

on:
  pull_request:
  push:
    branches: [main]

env:
  UV_TORCH_BACKEND: "auto"  # only used with uv pip install

jobs:
  Linting:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          # requites to grab the history of the PR
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          cache: 'pip'

      - uses: pre-commit/action@v3.0.0
        with:
          extra_args: --color=always --from-ref ${{ github.event.pull_request.base.sha }} --to-ref ${{ github.event.pull_request.head.sha }}

  Pytest:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - uses: hynek/setup-cached-uv@v2
        with:
          cache-suffix: -tests-${{ matrix.python-version }}-${{ env.WEEK }}
      - name: Install dependencies
        run: |
          uv venv
          source .venv/bin/activate 
          uv pip install -e . --group dev

      - name: Test with Pytest on Python ${{ matrix.python-version }}
        run: |
          source .venv/bin/activate
          uv pip install pydantic -U
          coverage run -m pytest

      - name: Test with Pytest on Python ${{ matrix.python-version }} with pydantic v1
        run: |
          source .venv/bin/activate
          uv pip install pydantic==1.10.7
          coverage run -m pytest
        if: matrix.python-version == '3.9'

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: .coverage.*
          if-no-files-found: ignore
          include-hidden-files: true

  coverage:
    name: Coverage
    needs: Pytest
    uses: aphp/foldedtensor/.github/workflows/coverage.yml@main
    with:
      base-branch: main
      coverage-data-pattern: coverage-data-*
      coverage-report: coverage.txt
      coverage-badge: coverage.svg
      coverage-branch: coverage

  Documentation:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: "3.12"
    - uses: hynek/setup-cached-uv@v2
      with:
        cache-suffix: -docs-${{ matrix.python-version }}-${{ env.WEEK }}
    - name: Install dependencies
      run: |
        uv venv
        source .venv/bin/activate 
        uv pip install -e . --group docs --group dev
    - name: Build documentation
      run: |
        source .venv/bin/activate
        mkdocs build --clean

  Installation:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - uses: hynek/setup-cached-uv@v2
        with:
          cache-suffix: -tests-${{ matrix.python-version }}-${{ env.WEEK }}
      - name: Install library
        run: |
          pip install .
